<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="../scripts/test.js"></script>
    <title>ITGAM</title>
</head>
<body onload="aleatorio()">
    <header>
        <h1>Bienvenidos al Instituto Tecnológico Gustavo.A.Madero (ITGAM)</h1>
    </header>
    <section>
        <center>
            <h2>Información de la institución</h2>
            <p>¡Bienvenido a nuestro instituto Tecnológico! Aquí encontrarás información relevante sobre nuestra institución.</p>
            <h4><i class="fa-solid fa-location-crosshairs fa-beat">ubicación</i></h4>
            <p>Calle 608 No. 300 y Av. 412, Col. San Juan de Aragón, Alcaldía. Gustavo A. Madero, C.P. 07470, México, CDMX</p>
            <h4><i class="fa-solid fa-phone fa-beat">Contacto:</i></h4>
            <p>Teléfonos (55) 2651-7864 y (55) 2651-6275</p>
            <h3><i class="fa-solid fa-paperclip"></i> Oferta educativa:</h3>
            <i class="fa-solid fa-helmet-safety">Ingeniería en Tecnologías de la Información y Comunicaciones.</i><br><br>
            <i class="fa-solid fa-helmet-safety">Ingeniería en Gestión Empresarial</i><br><br>
            <i class="fa-solid fa-helmet-safety">Ingeniería en Logística</i><br><br>
            <i class="fa-solid fa-helmet-safety">Ingeniería Ambiental</i><br><br>
            <i class="fa-solid fa-helmet-safety">Ingeniería Industrial</i><br><br>
            <i class="fa-solid fa-helmet-safety">Ingeniería Ferroviaria</i><br><br>
            <img src="" name="imagen"/>
        </center>
    </section>
    <footer class="piep">
        <h1>INSTITUTO TECNOLÓGICO GUSTAVO A. MADERO</h1> 
        <img src="https://www.gamadero.tecnm.mx/assets/files/main/img/fondoblancoitgam.png">
    </footer>
</body>
</html>